<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
    </head>

<!--Шапка-->
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a id="authUserEmail" class="nav-link active"></a>
                        </li>
                        <li class="nav-item">
                            <a id="authUserRoles" class="nav-link disabled" tabindex="-1" aria-disabled="true"></a>
                        </li>
                    </ul>
                    <form class="d-grid gap-2 d-md-flex justify-content-md-end" role="search">
                        <a th:href="@{/logout}"
                           id="logout" class="btn btn-outline-light" type="submit">Logout</a>
                    </form>
                </div>
            </div>
        </nav>

<!--Модальное окно Edit-->
        <div class="modal h-auto" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit user</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User ID </h6>
                            <input id="editId" type="text" name="id" class="form-control"
                                   placeholder="ID"/>
                        </div>

                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User Name </h6>
                            <input id="editName" type="text" name="name" class="form-control"
                                   placeholder="Логин"/>
                        </div>

                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User Password </h6>
                            <input id="editPassword" type="text" name="password" class="form-control"
                                   placeholder="Пароль"/>
                        </div>

                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User Age </h6>
                            <input id="editAge" type="text" name="age" class="form-control"
                                   placeholder="Возраст"/>
                        </div>

                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User Email </h6>
                            <input id="editEmail" type="email" name="email" class="form-control"
                                   placeholder="E-mail"/>
                        </div>

                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User Roles </h6>
                            <select id="editRoles" class="form-select" multiple aria-label="roles">
                                <option selected>ROLE_USER</option>
                                <option>ROLE_ADMIN</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="editButton" type="button" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
        </div>

<!--Модальное окно Delete-->
        <div class="modal h-auto" id="modalDelete" tabindex="-1" aria-labelledby="modalDelete"
             aria-hidden="true" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete user</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User ID </h6>
                            <input id="deleteId" type="text" name="id" class="form-control"
                                   placeholder="ID"/>
                        </div>

                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User Name </h6>
                            <input id="deleteName" type="text" name="name" class="form-control"
                                   placeholder="Логин"/>
                        </div>

                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User Password </h6>
                            <input id="deletePassword" type="text" name="password" class="form-control"
                                   placeholder="Пароль"/>
                        </div>

                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User Age </h6>
                            <input id="deleteAge" type="text" name="age" class="form-control"
                                   placeholder="Возраст"/>
                        </div>

                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User Email </h6>
                            <input id="deleteEmail" type="email" name="email" class="form-control"
                                   placeholder="E-mail"/>
                        </div>

                        <div class="form-group mt-3 mx-auto" style="width: 360px">
                            <h6 class="mt-2 mx-2 text-md-center"> User Roles </h6>
                            <select id="deleteRoles" class="form-select" multiple aria-label="roles">
                                <option selected>ROLE_USER</option>
                                <option>ROLE_ADMIN</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="deleteButton" type="button" class="btn btn-danger">DELETE</button>
                    </div>
                </div>
            </div>
        </div>

<!--Боковая панель-->
        <div class="row vh-100">
            <div class="col-md-2 bg-white">
                <button id="adminPanelButton"
                        class="btn btn-primary h-auto w-100 rounded-0 text-start">Admin</button>
                <button id="userPanelButton"
                        class="btn btn-link h-auto w-100 rounded-0 text-start">User</button>
            </div>

<!--Панель админа-->
            <div id="adminPanel" class="col-md-8 ms-3 me-3 flex-fill">
                <div class = "row">
                    <h1> Admin panel </h1>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="usersTableButton" data-bs-toggle="tab" data-bs-target="#users"
                                type="button" role="tab" aria-controls="users" aria-selected="true">Users table</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="addUserButton" data-bs-toggle="tab" data-bs-target="#add"
                                type="button" role="tab" aria-controls="add" aria-selected="false">Add user</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="adminRequestsButton" data-bs-toggle="tab" data-bs-target="#requests"
                                type="button" role="tab" aria-controls="users" aria-selected="true">
                            Admin requests <span id="requestNotificationCounter" class="badge bg-danger"></span>
                        </button>
                    </li>
                </ul>

<!--Вкладка All Users-->
                <div id="usersTablePage" class="tab-content">
                    <h5 class="mt-2 mx-2"> All users </h5>
                    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="users-tab">
                        <table class = "table table-striped table-bordered">
                            <thead class = "table-dark">
                            <tr>
                                <th> ID </th>
                                <th> Name </th>
                                <th> Age </th>
                                <th> Email </th>
                                <th> Role </th>
                                <th> Update </th>
                                <th> Remove </th>
                            </tr>
                            </thead>
                            <tbody id="all_users" ></tbody>
                        </table>
                    </div>
                </div>

<!--Вкладка Add new user-->
                <div id="addUserPage" class="tab-content d-none">
                    <h5 class="mt-2 mx-2"> Add new user </h5>
                    <div class="card w-100">
                        <form>
                            <div class="form-group mt-3 mx-auto" style="width: 360px">
                                <h6 class="mt-2 mx-2 text-md-center"> User Name </h6>
                                <input id="name" type="text" name="name" class="form-control"
                                       placeholder="Логин"/>
                            </div>

                            <div class="form-group mt-3 mx-auto" style="width: 360px">
                                <h6 class="mt-2 mx-2 text-md-center"> User Password </h6>
                                <input id="password" type="text" name="password" class="form-control"
                                       placeholder="Пароль"/>
                            </div>

                            <div class="form-group mt-3 mx-auto" style="width: 360px">
                                <h6 class="mt-2 mx-2 text-md-center"> User Age </h6>
                                <input id="age" type="text" name="age" class="form-control"
                                       placeholder="Возраст"/>
                            </div>

                            <div class="form-group mt-3 mx-auto" style="width: 360px">
                                <h6 class="mt-2 mx-2 text-md-center"> User Email </h6>
                                <input id="email" type="email" name="email" class="form-control"
                                       placeholder="E-mail"/>
                            </div>

                            <div class="form-group mt-3 mx-auto" style="width: 360px">
                                <h6 class="mt-2 mx-2 text-md-center"> User Roles </h6>
                                <select id="roles" class="form-select" multiple aria-label="roles">
                                    <option id="role_user" selected>ROLE_USER</option>
                                    <option id="role_admin">ROLE_ADMIN</option>
                                </select>
                            </div>

                            <div class="form-group mt-3 mb-3 mx-auto" style="width: 240px">
                                <button id="addButton" type="button" name="button" class="btn btn-primary"
                                        style="width: 240px">Add</button>
                            </div>
                        </form>
                    </div>
                </div>

<!--Вкладка Admin requests-->
                <div id="adminRequestsPage" class="tab-content d-none">
                    <h5 class="mt-2 mx-2"> Admin requests </h5>
                    <div class="tab-pane fade show active w-50" role="tabpanel" aria-labelledby="users-tab">
                        <table class = "table table-striped table-bordered">
                            <thead class = "table-dark">
                            <tr>
                                <th class="w-50"> Name </th>
                                <th class="w-25"> Approve </th>
                                <th class="w-25"> Deny </th>
                            </tr>
                            </thead>
                            <tbody id="admin_requests" ></tbody>
                        </table>
                    </div>
                </div>
            </div>

<!--Панель юзера-->
            <div id="userPanel" class="col-md-8 ms-3 me-3 flex-fill d-none">
                <div class = "row">
                    <h1> User information-page </h1>
                </div>

                <h5 class="mt-2 mx-2"> About user </h5>
                <table class = "table table-striped table-bordered">
                    <thead class = "table-dark">
                        <tr>
                            <th> ID </th>
                            <th> Name </th>
                            <th> Age </th>
                            <th> Email </th>
                            <th> Role </th>
                        </tr>
                    </thead>

                    <tbody id="user_table"></tbody>
                </table>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

        <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>